
$color_brand_main: #d91b5c
$color_brand_secondary: #109df0

/* Here be overrides! */
a
	color: $color_brand_main
	&:hover
		color: $color_brand_secondary

.post-index-item-title,
.post-index-item-title:visited
	color: $color_brand_main
